html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Container main */
._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.container_header {
  /* height: 46px; */
  background-color: #252525;
  margin: 0 auto;
  padding: 15px 0;
}

.container_header-items {
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.contacts_left {
  display: flex;
  gap: 30px;
  /* padding-left: 30px; */
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts_right {
  display: flex;
  gap: 30px;
  padding-right: 30px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.man_icon {
  position: relative;
  top: 1px;
}

.social__icons-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.container {
  background-color: #003a35;
  /* max-width: 1440px; */
  /* padding: 0 20px; */
  /* height: 95px; */
  margin: 0 auto;
}

.body {
  font-size: 400px;
  font-weight: 700;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
}

.header__inner {
  /* padding-top: 25px; */
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* padding-left: 30px; */
}

.menu__list {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}
#burgerButton {
  display: none;
}
@media (max-width: 1140px) {
  .menu__list {
    display: none;
  }
  #burgerButton {
    display: block;
    background-image: url(./imges/burger.svg);
    background-size: cover;
    width: 35px;
    height: 35px;
  }
}
#langSwitch {
  min-width: 40px;
}

.menu__list-item a:hover {
  color: #adc7b1;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.menu__list-link {
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Merriweather", serif;
}

.basket_count-number {
  line-height: normal;
  color: white;
  font-size: 6px;
  font-family: Open sans;
  font-weight: 700;
  width: 8px;
  height: 8px;
  background: #f4a39e;
  border-radius: 50%;
  position: relative;
  margin-top: -9px;
  left: 15px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.menu__list-triangl {
  position: relative;
  top: -1px;
  padding-left: 5px;
}

/*  Выпадающее меню */
.menu {
  position: relative;
}

.sub__menu {
  position: absolute;
  top: 200%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 212px;
  height: 36px;
  padding: 0px 15px;
  padding-bottom: 9px;
  padding-top: 9px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #d7b46a;
  align-items: flex-start;
  z-index: 15;
}

.container__inner {
  /* height: 700px; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 77px; */
  background-position: center;

  /* padding-left: 73px; */
}

.container__inner h1 {
  padding-top: 75px;
  font-family: Merriweather;
  color: #f4edc5;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .container__inner h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 640px) {
  .container__inner h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 538px) {
  .container__inner h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 538px) {
  .container__inner h1 {
    font-size: 3rem;
  }
}

@media (max-width: 484px) {
  .container__inner {
    display: flex;
    flex-direction: column;
  }
  .container__inner h1 {
    font-size: 3rem;
    text-align: center;
  }
}

.top__title-p {
  font-family: Merriweather;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}
.main__top {
  background-image: url("./imges/bannertop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container__inner p {
  color: white;
  font-family: Merriweather;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  padding-top: 15px;
}

@media (max-width: 484px) {
  .container__inner p {
    font-size: 18px;
    text-align: center;
  }
}

.main__button {
  background-color: #d7b46a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 56px;
  border: none;
  margin-top: 40px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: white;
  /* cursor: pointer; */
}

/* @media (max-width: 484px) {
  .container__inner._container {
    align-items: center;
    margin: 0 auto;
  }
} */

@media (max-width: 484px) {
  .container__inner a {
    margin-left: auto;
    margin-right: auto;
  }
}

.slider__circle {
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: center;
  padding: 40px 0;
}

.slider__circle-item {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

.slider__circle-itembig {
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

.container_main {
  /* max-width: 1306px; */
  margin: 100px auto;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: 310px;
}

@media (max-width: 1124px) {
  .main__content {
    grid-template-columns: 1fr;
    height: 650px;
  }
}

.main__content h2 {
  color: white;
  font-family: "Merriweather";
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}

.main__content-bt {
  background: none;
  border: none;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: white;
}
.main__content-item {
  /* padding-top: 100px; */
  padding: 45px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#leftBlock {
  background-image: url(./imges/maintea1.jpg);
  background-size: cover;
  flex-grow: 1;
}
#rightBlock {
  background-image: url(./imges/maintea2.jpg);
  background-size: cover;
  flex-grow: 1;
}

.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  gap: 30px;
}
.catalog__items-item-link {
  display: flex;
  flex-direction: column;
}
.catalog__items-item-link img {
  width: 100%;
}

.catalog__items s {
  color: #d9d9d980;
}
.tea_soul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  /* padding-top: 100px; */
}

.tea_soul p {
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #d7b46a;
}

.tea_soul h2 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: #003a35;
}

.tea_soul div {
  width: 119px;
  height: 2px;
  background-color: #d7b46a;
}

.catalog__items {
  /* padding-top: 100px; */
}

.catalog__item-name {
  font-family: Merriweather;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #003a35;
}

.rating {
  padding-top: 5px;
}

.catalog__items a {
  padding-top: 20px;
}

.catalog__items p {
  font-family: Merriweather;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  color: #d7b46a;
  padding-top: 9px;
}

._about-tea {
  margin-top: 86px;
}

._best_offer {
  background-image: url(./imges/best-offer-back.jpg);
  height: 400px;
  max-width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer_content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  text-align: center;
}

.offer_content p {
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.offer_content h2 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: white;
}

.offer_button {
  width: 155px;
  height: 56px;
  border: 1px solid white;
  background-color: transparent;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: white;
}

._about-tea {
  background-color: #fffbd6bd;
  max-width: 100%;
  height: 781px;
}

.retangle-tea {
  width: 119px;
  height: 2px;
  background-color: #d7b46a;
}

.about__tea-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 87px;
}

.about__tea-content h2 {
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: #003a35;
}

.about__tea-content img {
  padding-top: 70px;
}

.tea_new-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 86px;
  margin-bottom: 86px;
}

.tea_new-content p {
  color: #d7b46a;
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.tea_new-content h2 {
  color: #003a35;
  text-align: center;
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.Rectangle-new {
  width: 119px;
  height: 2px;
  background-color: #d7b46a;
}

.fresh_offers {
  margin: 100px auto;
}

.fresh_offers-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  gap: 30px;
}

.fresh_offers-items p {
  font-family: Merriweather;
  color: #d7b46a;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
  text-transform: uppercase;
}
.fresh_offers-items s {
  color: #d9d9d980;
}

#fresh-btn {
  padding: 10 5;
  margin-top: 20px;
  margin-left: 20px;
  width: 85px;
  height: 24px;
  position: absolute;
  background-color: #adc7b1;
  border: none;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#fresh-btn2 {
  padding: 10 5;
  margin-top: 20px;
  margin-left: 20px;
  width: 113px;
  height: 24px;
  position: absolute;
  background-color: #f4a39e;
  border: none;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#fresh-btn3 {
  padding: 10 5;
  margin-top: 20px;
  margin-left: 20px;
  width: 51px;
  height: 24px;
  position: absolute;
  background-color: #f4a39e;
  border: none;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#fresh-btn4 {
  padding: 10 5;
  margin-top: 20px;
  margin-left: 20px;
  width: 102px;
  height: 24px;
  position: absolute;
  background-color: #d7b46a;
  border: none;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container_collection {
  margin: 100px auto;
}

#leftBlock1 {
  background-image: url(./imges/Frame\ 23collection1.jpg);
  background-size: cover;
  flex-grow: 1;
}
#rightBlock2 {
  background-image: url(./imges/Frame\ 24collection2.jpg);
  background-size: cover;
  flex-grow: 1;
}

.trust_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* gap: 20px; */
}

._container-trust {
  padding-bottom: 96px;
}

/* .fresh_offers-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  gap: 30px;
} */
/* 
.fresh-item img {
  width: 100%;
} */

/* .fresh_offers-item {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  gap: 30px;
} */

.footer__inner {
  /* max-width: 1440px; */
  height: 431px;
  /* background-image: url(./imges/footerbg.jpg); */
  display: flex;
  /* padding-left: 67px; */
  /* padding-right: 67px; */
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.footer__links h4 {
  font-family: Merriweather;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: white;
  gap: 40px;
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__list-item {
  padding-bottom: 17px;
}

.contact__info li {
  padding-bottom: 8px;
}

.footer_adres {
  padding-top: 8px;
}

.footer__contacts h4 {
  font-family: Merriweather;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.footer__number {
  color: #d7b46a;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__mail {
  color: #d7b46a;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_adres-street {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_adres {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__clients {
  font-family: Merriweather;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 13px !important;
}

#mail {
  background-color: transparent;
  width: 155px;
  height: 35px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

input::placeholder {
  color: white;
}

#send {
  background-color: #d7b46a;
  display: flex;
  width: 35px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-left: 5px;
}

.button__input {
  padding-left: 5px;
}

.form__mail {
  display: flex;
}
.footer {
  background-image: url(./imges/bannertop.jpg);
}

.footer__news {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__news h4 {
  font-family: Merriweather;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.footer__news-inner a {
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.footer__news-inner time {
  font-family: Merriweather;
  color: #d7b46a;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.footer__news-inner hr {
  margin-top: 17px;
  margin-bottom: 17px;
  width: 303px;
  height: 1px;
}

.container_footer {
  background-color: #003a35;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bg-footer {
  background-image: url("./imges/footerbg.jpg");
}
.social__icons-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  justify-content: space-between;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.social__icons-footer p {
  font-family: Open Sans;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.main {
  /* flex-grow: 1; */
  /* min-width: 1440px; */
}
.tea_soul-tea,
.tea-new {
  text-align: center;
}

@media (max-width: 1118px) {
  .trust_img {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .fresh_offers-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 876px) {
  .container_header {
    display: none;
  }
  .catalog__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__inner {
    /* flex-direction: column; */
    height: 100%;
    gap: 25px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  .footer__news {
    margin: auto;
  }
}
@media (max-width: 992px) {
  .catalog__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 678px) {
  .catalog__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .catalog__items {
    grid-template-columns: 1fr;
  }
  .fresh_offers-items {
    grid-template-columns: 1fr;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__news {
    margin: 0;
  }
}
